@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Made Tommy';
  src: url('/fonts/MadeTommy-Regular.woff2') format('woff2'),
       url('/fonts/MadeTommy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Made Tommy', sans-serif;
}
